
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #d3f5dc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 22rem;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="password"] {
    padding: 10px;
    margin-bottom: 32px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: -16px 0 0 0;
}

button:hover {
    background-color: #218838;
}

#message {
    color: red;
    font-size: 0.9em;
    margin-bottom: 20px;
}

@media (max-width: 500px) {
    .container {
        padding: 30px;
    }

    h2 {
        font-size: 1.5em;
    }

    button {
        font-size: 14px;
    }
}